<div class="col-sm-6 col-md-4">
    <div class="video-thumb" style="background-image: url({{ playlist.thumbnail }})">
        <div class="category">{{ playlist.group }}</div>
        <div class="title text-center">{{ playlist.title }}</div>
        <div class="hover">
            {% set link = path_for('playerPage', {'channel': playlist.channel, 'playlistId': playlist.id}) %}
            <a onclick='trackOutboundLink({{ link | json_encode | raw }}, "Player", "watchingInTvMode", {{playlist.title | json_encode | raw}}); return false;' href="{{ link }}"><div class="play"></div></a>
        </div>
    </div>
</div>